.footer__content
  .footer__content-upper
    %ul.footer__content-upper-lists
      %li.footer__list
        %span About Us
      %li.footer__list
        %span Work With Us
      %li.footer__list
        %span Customer Service
      %li.footer__list
        %span Website Feedback
  .footer__content-middle
    = image_tag "google-play-badge.png", class: "footer_icon-google", alt: "gooogle play"
    = image_tag "Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", class: "footer_icon-apple", alt: "apple store"
  .footer__content-rower
    %span ©casa blanca
.footer__mobile
  .footer__mobile-upper
    %span casa blanca
  .footer__mobile-middle
    = image_tag "google-play-badge.png", class: "footer_icon-google", alt: "gooogle play"
    = image_tag "Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", class: "footer_icon-apple", alt: "apple store"
  .footer__mobile-rower
    %span ©casa blanca