*{
  box-sizing: border-box;
}

@media screen and (min-width:500px){
  .header{
    width: 100vw;
    height: 100px;
    display: block;
    position: absolute;
    z-index: 2;
    &__nav{
      visibility: visible;
      margin: 10px 15px;
      cursor: pointer;
      font-size: 25px;
      color: snow;
      text-shadow: 1px 1px 2px hotpink;
    }
    &__logo{
      position: absolute;
      top: 30px;
      left: 30%;
      margin: 0 auto;
      h1{
        color: snow;
        font-size: 60px;
        font-family: "Lova Bear";
        text-shadow: 1px 1px 2px hotpink;
      }
    }
    &__menu{
      visibility: hidden;
    }
    &__user{
      visibility: hidden;
    }
    &__drop-menu.is-show{
      position: absolute;
      top: 0;
      height: 100vh;
      width: 250px;
      background-color: #353c42;
      .drop-menu{
        margin: 10px;
        color: snow;
        position: relative;
        &__lists{
          .user-menu{
            display: flex;
            border-bottom:1px solid snow;
            &__icon{
              font-size: 40px;
              margin: 10px;
            }
            &__text{
              font-size: 14px;
              color: hotpink;
              margin: 20px 10px;
            }
          }
          .casa-menu{
            margin: 10px;
            &__lists{
              .casa-menu__list{
                font-size: 14px;
                margin: 10px;
                text-align: left;
              }
            }
          }
          .help-menu{
            margin: 10px;
            &__lists{
              .help-menu__list{
                font-size: 14px;
                margin: 10px;
                text-align: left;
              }
            }
          }
        }
        &__btn{
          position: absolute;
          top: 5px;
          right: 10px;
          cursor: pointer;
          &-icon{
            font-size: 25px;
          }
        }
      }
    }
    &__drop-menu.not-show{
      display: none;
    }
  }
  .main{
    position: relative;
    &__upper{
      &-slick{
        .slick-list{
          &__image{
            height: calc(100vh - 150px);
            width: 100%;
            z-index: 1;
          }
        }
      }
    }
    &__search-form{
      display: none;
    }
    &__search-form-js{
      visibility: visible;
      position: absolute;
      top: 65%;
      width: 94%;
      margin: 0 10px;
      opacity: 0.9;
      background-color: #353c42;
      input{
        border: 1px solid #ffffff;
        width:100%;
        padding: 10px;
      }
      input::placeholder{
        color: #ffffff;
      }
    }
    &__search-form-mobile.not-show{
      display: none;
    }
    &__search-form-mobile.is-show{
      position: absolute;
      top: 0;
      z-index: 4;
      background-color: #ffffff;
      height: 100vh;
      width: 100vw;
      .search-mobile{
        &__title{
          font-size: 20px;
          border-bottom: 1px solid #353c42;
          padding: 10px 20px;
        }
        &__input{
          position: fixed;
          top: 80px;
          width: 100%;
          padding-right: 20px;
          margin: 0 10px;
          input{
            width: 100%;
            padding: 10px;
          }
        }
        &__close{
          position: absolute;
          top: 7px;
          right: 20px;
          font-size: 25px;
        }
      }
    }
    &__list{
      display: none;
    }
  }
  .footer{
    &__content{
      display: none;
    }
    &__mobile{
      visibility: visible;
      text-align: center;
      background-color: #353c42;
      padding: 20px;
      &-upper{
        color: snow;
        font-size: 30px;
        font-family: "Lova Bear";
        text-shadow: 1px 1px 2px hotpink;
      }
      &-middle{
        .footer_icon-google{
          width: 152px;
        }
        .footer_icon-apple{
          margin: 10px;
        }
      }
      &-rower{
        font-size: 10px;
        color: #ffffff;
      }
    }
  }
}

@media screen and (min-width:720px){
  .header{
    width: 100vw;
    height: 100px;
    display: block;
    position: absolute;
    z-index: 2;
    &__nav{
      visibility: visible;
      margin: 10px 15px;
      cursor: pointer;
      font-size: 25px;
      color: snow;
      text-shadow: 1px 1px 2px hotpink;
    }
    &__logo{
      position: absolute;
      top: 30px;
      left: 30%;
      margin: 0 auto;
      h1{
        color: snow;
        font-size: 60px;
        font-family: "Lova Bear";
        text-shadow: 1px 1px 2px hotpink;
      }
    }
    &__menu{
      visibility: hidden;
    }
    &__user{
      visibility: hidden;
    }
    &__drop-menu.is-show{
      position: absolute;
      top: 0;
      height: 100vh;
      width: 250px;
      background-color: #353c42;
      .drop-menu{
        margin: 10px;
        color: snow;
        position: relative;
        &__lists{
          .user-menu{
            display: flex;
            border-bottom:1px solid snow;
            &__icon{
              font-size: 40px;
              margin: 10px;
            }
            &__text{
              font-size: 14px;
              color: hotpink;
              margin: 20px 10px;
            }
          }
          .casa-menu{
            margin: 10px;
            &__lists{
              .casa-menu__list{
                font-size: 14px;
                margin: 10px;
                text-align: left;
              }
            }
          }
          .help-menu{
            margin: 10px;
            &__lists{
              .help-menu__list{
                font-size: 14px;
                margin: 10px;
                text-align: left;
              }
            }
          }
        }
        &__btn{
          position: absolute;
          top: 5px;
          right: 10px;
          cursor: pointer;
          &-icon{
            font-size: 25px;
          }
        }
      }
    }
    &__drop-menu.not-show{
      display: none;
    }
  }
  .main{
    position: relative;
    &__upper{
      &-slick{
        .slick-list{
          &__image{
            height: 400px;
            width: 100%;
            z-index: 1;
          }
        }
      }
    }
    &__search-form{
      display: none;
    }
    &__search-form-js{
      visibility: visible;
      position: absolute;
      top: 125px;
      width: 94%;
      margin: 0 10px;
      opacity: 0.9;
      background-color: #353c42;
      input{
        border: 1px solid #ffffff;
        width:100%;
        padding: 10px;
      }
      input::placeholder{
        color: #ffffff;
      }
    }
    &__search-form-mobile.not-show{
      display: none;
    }
    &__search-form-mobile.is-show{
      position: absolute;
      top: 0;
      z-index: 4;
      background-color: #ffffff;
      height: 100vh;
      width: 100vw;
      .search-mobile{
        &__title{
          font-size: 20px;
          border-bottom: 1px solid #353c42;
          padding: 10px 20px;
        }
        &__input{
          position: fixed;
          top: 80px;
          width: 100%;
          padding-right: 20px;
          margin: 0 10px;
          input{
            width: 100%;
            padding: 10px;
          }
        }
        &__close{
          position: absolute;
          top: 7px;
          right: 20px;
          font-size: 25px;
        }
      }
    }
    &__list{
      display: block;
      &__related-casa{
        &-title{

        }
        &-lists{
          .main__list-related-casa-list{

          }
        }
      }
      &__recommend{
        &-title{

        }
        &-lists{
          .main__list__recommend-list{

          }
        }
      }
    }
  }
  .footer{
    &__content{
      display: block;
      background-color: #353c42;
      text-align: center;
      padding: 20px;
      &-upper{
        color: snow;
        font-size: 30px;
        font-family: "Lova Bear";
        text-shadow: 1px 1px 2px hotpink;
      }
      &-middle{
        .footer_icon-google{
          width: 152px;
        }
        .footer_icon-apple{
          margin: 10px;
        }
      }
      &-rower{
        font-size: 10px;
        color: #ffffff;
      }
    }
    &__mobile{
      display: none;
    }
  }
}

@media screen and (min-width:960px){
  .header{
    width: 100vw;
    height: 100px;
    display: block;
    position: absolute;
    z-index: 2;
    &__nav{
      visibility: hidden;
    }
    &__logo{
      position: absolute;
      top: 35px;
      left: 15%;
      margin: 0 auto;
      h1{
        color: snow;
        font-size: 60px;
        font-family: "Lova Bear";
        text-shadow: 1px 1px 2px hotpink;
      }
    }
    &__menu{
      visibility: visible;
      position: absolute;
      top: 75px;
      right: 20px;
      &__lists{
        display: flex;
        .menu__list{
          font-size: 15px;
          color: snow;
          font-weight: bold;
          text-shadow: 1px 1px 2px hotpink;
        }
      }
    }
    &__user{
      visibility: visible;
      position: absolute;
      top: 13px;
      right: 20px;
      font-size: 15px;
      padding-bottom: 10px;
      color: snow;
      border: 2px  solid snow;
      border-radius: 10px;
      padding: 8px;
      font-weight: bold;
      text-shadow: 1px 1px 2px hotpink;
      background-color:rgba($color:  #353c42, $alpha: 0.6);
    }
    &__drop-menu{
      display: none;
    }
  }
  .main{
    position: relative;
    &__upper{
      &-slick{
        .slick-list{
          &__image{
            height: 400px;
            width: 100%;
            z-index: 1;
          }
        }
      }
    }
    &__search-form{
      display: block;
      position: absolute;
      top: 250px;
      left: 5%;
      width: 100%;
      &__text{
        background-color: rgba($color: #353c42, $alpha: 0.8);
        border: 1px solid #ffffff;
        padding: 10px;
        width: 30%;
        color: #ffffff;
      }
      &__text::placeholder{
        color: #ffffff;
      }
      &__date-start{
        padding: 10px;
        text-align: center;
        background-color: rgba($color: #353c42, $alpha: 0.8);
        border: 1px solid #ffffff;
        color: #ffffff;
        width: 18%;
      }
      &__date-end{
        padding: 10px;
        text-align: center;
        background-color: rgba($color: #353c42, $alpha: 0.8);
        border: 1px solid #ffffff;
        color: #ffffff;
        width: 18%;
      }
      &__guest{
        padding: 10px;
        background-color: rgba($color: #353c42, $alpha: 0.8);
        color: #ffffff;
        border: 1px solid #ffffff;
        width: 10%;
      }
      &__btn{
        -webkit-transition: all .3s;
        transition: all .3s;
        background-color: rgba($color: #4b98db, $alpha: 0.9);
        width: 10%;
        padding: 10px;
        color: #ffffff;
        border: 1px solid #ffffff;
      }
      &__btn:hover{
        color:#ffffff;
        background: rgba($color:  #4b98db, $alpha: 1);
        border-bottom: 2px solid #ffffff;
        border-right: 2px solid #ffffff;
      }
      &__btn:before{
        top: 0;
        left: 0;
      }
      &__btn:after{
        right: 0;
        bottom: 0;
      }
      &__btn:hover:before, &__btn:hover:after{
        width: 0;
      }
    }
    &__search-form-js{
      visibility: hidden;
    }
    &__search-form-mobile{
      display: none;
    }
    &__list{
      display: block;
      &__related-casa{
        &-title{

        }
        &-lists{
          .main__list-related-casa-list{

          }
        }
      }
      &__recommend{
        &-title{

        }
        &-lists{
          .main__list__recommend-list{

          }
        }
      }
    }
  }
  .footer{
    &__content{
      display: block;
      background-color: #353c42;
      text-align: center;
      padding: 20px;
      &-upper{
        color: snow;
        font-size: 30px;
        font-family: "Lova Bear";
        text-shadow: 1px 1px 2px hotpink;
      }
      &-middle{
        .footer_icon-google{
          width: 152px;
        }
        .footer_icon-apple{
          margin: 10px;
        }
      }
      &-rower{
        font-size: 10px;
        color: #ffffff;
      }
    }
    &__mobile{
      display: none;
    }
  }
}